name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # 当你推送一个 vX.X.X 格式的 tag 时触发

permissions:
  contents: write

jobs:
  build-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18 # 根据你的项目需求更改

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      # 安装前端依赖
      - name: Install frontend dependencies
        run: npm install

      # 构建 Tauri 应用
      - name: Build Tauri app
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: ${{ github.ref_name }}
          releaseName: 'ruziniu-tools v__VERSION__'
          releaseBody: 'ruziniu-tools 跨平台工具集版本 __VERSION__'
          releaseDraft: true
          prerelease: false